[submodule "src/rosmod_v0.3/krpci"]
	path = src/rosmod_v0.3/krpci
	url = https://github.com/pranav-srinivas-kumar/krpci
[submodule "src/rosmod_v0.3/sumocpp"]
	path = src/rosmod_v0.3/sumocpp
	url = https://github.com/finger563/sumocpp.git
