#unicode utf8
﻿#ifndef COMPONENT_HPP
#define COMPONENT_HPP

$hash_include <iostream>
$hash_include <string>
$hash_include <std_msgs/Bool.h>
#if $mod != ""
$hash_include "rosmod/rosmod_ros.h"
$hash_include "rosmod/rosmod_callback_queue.h"
#else
$hash_include "ros/ros.h"
$hash_include "ros/callback_queue.h"
#end if
$hash_include "$package_name/xmlParser.hpp"
$hash_include "$package_name/Logger.hpp"

class Component {
public:
  // Constructor
  Component(ComponentConfig &config, int argc, char **argv);

  // Start up
  virtual void startUp() = 0;

  // Initialization
  virtual void Init(const ros${mod}::TimerEvent& event);

  // Synchronization
  virtual void component_synchronization_OnOneData(const std_msgs::Bool::ConstPtr& received_data);

  // Callback Queue Handler
  void processQueue();

  // Destructor
  ~Component();

protected:
  std::map<std::string,std::string> portGroupMap;
  Log_Levels logLevels;
  std::string hostName;
  std::string nodeName;
  std::string compName;
  int node_argc;
  char **node_argv;
  ros${mod}::Publisher comp_sync_pub;
  ros${mod}::Subscriber comp_sync_sub;
  uint64_t num_comps_to_sync;
  double comp_sync_timeout;
  ros${mod}::Timer initOneShotTimer; 
  ros${mod}::CallbackQueue compQueue;
  Logger LOGGER;
};

#endif
