#if $workspace.children != []
#for $package in $workspace.children
// ROS Package - $package.properties["name"]
package $package.properties["name"]
{
#if $package.getChildrenByKind("message") != []
    // Set of ROS Messages
    messages 
    {
#for $message in $package.getChildrenByKind("message")
        // ROS msg - $message.properties["name"]
        msg $message.properties["name"]
        {
#for $field in $message.properties["fields"]            
#if $len(field) > 2
            $field[0] $field[1]=$field[2];
#else
            $field[0] $field[1];
#end if
#end for        
        } 
#end for
    }
#end if

#if $package.getChildrenByKind("service") != []	
    // Set of ROS Services
    services
    {
#for $service in $package.getChildrenByKind("service")
        // ROS srv - $service.properties["name"]
        srv $service.properties["name"]
        {
            request
            {
#for $req_field in $service.properties["request"]
#if $len(req_field) > 2
                $req_field[0] $req_field[1]=$req_field[2];
#else
                $req_field[0] $req_field[1];
#end if
#end for
            }

            response
            {
#for $res_field in $service.properties["response"]
#if $len(res_field) > 2
                $res_field[0] $res_field[1]=$res_field[2];
#else
                $res_field[0] $res_field[1];
#end if
#end for
            }
        }
#end for
    }
#end if

#if $package.getChildrenByKind("component") != []
    // Set of ROS Components
    components
    {
#for $component in $package.getChildrenByKind("component")
        // ROS Component - $component.properties["name"]
	component
	{
#if $component.getChildrenByKind("server") != []
#for $server in $component.getChildrenByKind("server")
            provides $server.properties["service_reference"].properties["name"];
#end for
#end if	
#if $component.getChildrenByKind("client") != []
#for $client in $component.getChildrenByKind("client")
	    requires $client.properties["service_reference"].properties["name"];#end for
#end if	
#if $component.getChildrenByKind("publisher") != []
#for $pb in $component.getChildrenByKind("publisher")
	    publisher<$pb.properties["message_reference"].properties["name"]> $pb.properties["name"];#end for
#end if	
#if $component.getChildrenByKind("subscriber") != []
#for $sb in $component.getChildrenByKind("subscriber")
     	    subscriber<$sb.properties["message_reference"].properties["name"]> $sb.properties["name"];#end for
#end if	
#if $component.getChildrenByKind("timer") != []
#for $timer in $component.getChildrenByKind("timer")
	    timer $timer.properties["name"]
	    {
	        period = $timer.properties["period"]$timer.properties["unit"];
	    }#end for
#end if	    
	}
#end for
    }
#end if

#if $package.getChildrenByKind("node") != []
    // Set of ROS Nodes in this package
    nodes
    {
#for $node in $package.getChildrenByKind("node")
        node $node.properties["name"] 
	{
#if $node.getChildrenByKind("component_instance") != []
            // Instantiating components in ROS node
#for $instance in $node.getChildrenByKind("component_instance")
     	    component<$instance.properties["component_reference"].properties["name"]> $instance.properties["name"];
#end for             						 
#end if    	     
	}
#end for
    }
#end if
}
#end for
#end if