$hash_include "$package_name/Component.hpp"

// Constructor - Save node arguments
Component::Component(ComponentConfig &config, int argc, char **argv) {
  portGroupMap = config.portGroupMap;
  logLevels = config.logLevels;
  hostName = config.hostName;
  nodeName = config.nodeName;
  compName = config.compName;
  node_argc = argc;
  node_argv = argv;
}

// Destructor - Cleanup objects in Component
Component::~Component() {
    compQueue.disable();
    initOneShotTimer.stop();
}

// Initialization
void Component::Init(const ros::TimerEvent& event) {}

// Callback Queue Handler
void Component::processQueue() {  
    ros::NodeHandle nh;
    while (nh.ok()) {
	this->compQueue.callAvailable(ros::WallDuration(0.01));
    }
}
