/*
 * ROSMOD Deployment Model
 */

// ROSMOD Hardware Model - $deployment.properties["rhw_reference"].properties["name"]
using $deployment.properties["rhw_reference"].properties["name"];

#if $deployment.children != []
#for $hardware_instance in $deployment.getChildrenByKind("Hardware_Instance")
// ROSMOD Hardware Instance - $hardware_instance.properties["name"]
hardware_instance $hardware_instance.properties["name"]
{
    properties
    {
        ref = "${deployment.properties["rhw_reference"].properties["name"]}/$hardware_instance.properties["hardware_reference"].properties["name"]";
        ip_address = "$hardware_instance.properties["ip_address"]";
        username = "$hardware_instance.properties["username"]";
	sshkey = "$hardware_instance.properties["sshkey"]";
#if $hardware_instance.properties["init"] != ""
	init = "$hardware_instance.properties["init"]";
#end if
    }
#if $hardware_instance.children != []
#for $node_instance in $hardware_instance.children
    // ROSMOD Node Instance - $node_instance.properties["name"] 
    node_instance $node_instance.properties["name"]
    {
	ref = "$node_instance.properties["node_reference"].parent.properties["name"]/$node_instance.properties["node_reference"].properties["name"]";
#if $node_instance.properties["cmd_args"] != ""
    	cmd_args = "$node_instance.properties["cmd_args"]";		   
#end if
#if $node_instance.children != []
#for $port_instance in $node_instance.children
        port_instance $port_instance.properties["name"]
	{
            ref = "$port_instance.properties["port_reference"].parent.properties["name"]/$port_instance.properties["port_reference"].properties["name"]";
            group = "$port_instance.properties["group"]";
	}
#end for
#end if
#end for
    }
#end if
}
#end for 
#end if

