/*
 * ROSMOD Hardware Model
 */

#if $rhw.children != []
#for $hardware in $rhw.children
// Hardware - $hardware.properties["name"]
hardware $hardware.properties["name"]
{
  ip_address = "$hardware.properties["ip_address"]";
  username = "$hardware.properties["username"]";
  sshkey = "$hardware.properties["sshkey"]"; 
  deployment_path = "$hardware.properties["deployment_path"]";
  init = "$hardware.properties["init"]";
#if $hardware.properties["arch"] != ""
  arch = $hardware.properties["arch"];
#end if
}
#end for
#end if

