/*
 * ROSMOD Hardware Model
 */

#if $rhw.children != []
#for $hardware in $rhw.children
// Hardware - $hardware.properties["name"]
hardware $hardware.properties["name"]
{
#if $hardware.properties["arch"] != ""
    arch = $hardware.properties["arch"];
#end if
}
#end for
#end if

